.cell {
  composes: body-2 from global;
  padding-right: 24px;
  color: var(--content-primary-a);
  white-space: nowrap;
  border-bottom: 1px solid var(--border-tertiary);

  @media only screen and (width <= 1365px) {
    border-bottom: none;
  }
}

.cellContent {
  display: flex;
  align-items: center;
}
