.amount {
  composes: body-1 from global;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  font-variant-numeric: tabular-nums;
}

.credit {
  color: var(--content-success);
}
