:root {
  --dataviz-slice1: var(--purple800);
  --dataviz-slice2: var(--mint800);
  --dataviz-slice3: var(--blue800);
  --dataviz-slice4: var(--mustard800);
  --dataviz-slice5: var(--peach800);
  --dataviz-slice6: var(--yellow800);
  --dataviz-slice7: var(--pink800);
  --dataviz-balance: var(--purple800);
  --dataviz-change: var(--warning300);
  --dataviz-inflow: var(--success300);
  --dataviz-outflow: var(--error300);
  --dataviz-other: var(--gray400);
  --dataviz-empty: var(--gray200);
  --dataviz-uncategorized: var(--gray300);

  /* Overlays on light backgrounds */
  --hover-mix-blend-mode: darken;

  /* Overlays on dark backgrounds */
  --hover-on-dark-mix-blend-mode: lighten;

  /* loading animation */
  --dataviz-animation-primary: var(--gray300);
  --dataviz-animation-secondary: var(--gray400);
  --dataviz-animation: dataviz-loading 1.5s linear infinite;

  @keyframes dataviz-loading {
    8% {
      fill: var(--dataviz-animation-primary);
    }

    18% {
      fill: var(--dataviz-animation-secondary);
    }

    33% {
      fill: var(--dataviz-animation-primary);
    }
  }
}
