.transactionBody {
  display: grid;
  justify-content: center;
  text-align: left;
}

.counterpartyName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.status {
  composes: body-2 from global;
  align-self: flex-start;
  color: var(--content-secondary);
}
